footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.album.py-5.bg-light {
  background-color: #ffffff !important;
}

.infoLibro {
  padding-left: 0 !important;
}

.fichaTecnica {
  font-size: 1.1rem;
}

.tarjeta {
  width: 18rem;
}